<div class="account-container stacked">
    <form (ngSubmit)="onLogin()" class="form-horizontal" #loginForm="ngForm">
        <div id="login-form" style="text-align:center" class="login-fields widget">
            <fieldset>
                <div class="controls-row">
                    <div class="">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user"></i></span>
                            </div>
                            <input [(ngModel)]="userName" name="userName" autofocus="autofocus" class="form-control" data-val="true" data-val-required="Please enter a user name" id="userName" name="UserName" placeholder="user name" required type="text" value="">
                        </div>
                    </div>
                    <div class="">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-key"></i></span>
                            </div>
                            <input [(ngModel)]="password" name="password" autocomplete="off" class="form-control" data-val="true" data-val-required="Please enter a password" id="password" name="Password" placeholder="password" required type="password">
                        </div>
                    </div>
                </div>
                <div class="validation-summary-errors">
                    <ul>
                        <li id="passwordCapsLock" name="passwordCapsLock" class="capslock-error " style="display: none;margin-bottom:5px"><i class="fa fa-warning-sign"></i><span for="Password">&nbsp;@Account.capsLockOn</span> </li>
                    </ul>
                </div>
                <div class="has-error"></div>
                <div id="login-actions">
                    <div>
                        <input type="submit" value="Log in" id="logIn" name="logIn" class="btn btn-shadow btn-primary" />
                    </div>
                </div>
            </fieldset>
        </div>
    </form>
</div>