<a class="language-picker-call singleline-ellipsis" tooltipPosition="top" pTooltip="{{model | splitArrayToString:'defaultLabel':', ':true}}">{{model |splitArrayToString:'abbreviation':', ':true }}</a>
&nbsp;
<span (click)="showLanguagePicker($event, op)" class="popover-caller-button">
    <i *ngIf="icon === 'icon'" class="fa fa-pencil" style="font-size:24px"></i>
    <button *ngIf="icon === 'button'" type="button" id="btnAddLanguage" class="btn btn-default" type="button">Add language(s)</button>
</span>

<p-overlayPanel #op appendTo="body">
    <div class="languages-picker">
        <div class="row">
            <div class="col-md-12">
                <i class="pull-right fa fa-times" (click)="closeLanguagePicker(op)"></i>
            </div>
        </div>
        <div>
            <ul class="nav nav-tabs">
                <li (click)="regionFilter.region='eu'" [ngClass]="{'active': regionFilter.region==='eu'}" name="btneu">
                    <a>EU</a>
                </li>
                <li (click)="regionFilter.region='noneu'" [ngClass]="{'active': regionFilter.region==='noneu'}" name="btnnoneu">
                    <a>NON-EU</a>
                </li>
                <li (click)="regionFilter.region='all'" [ngClass]="{'active': regionFilter.region==='all'}" name="btnall">
                    <a>ALL</a>
                </li>
            </ul>
        </div>
        <div class="row" style="margin-left:0;overflow:hidden;">

            <div class="col-md-1 no-space" *ngFor="let value of languages | languageByRegion: regionFilter.region; let i = index" style="overflow:hidden;">
                <span bs-tooltip data-title="{{value.defaultLabel}}">
                    <input *ngIf="!singleLanguage" id="languagePicker_{{value.code}}" type="checkbox" [(ngModel)]="value.isChecked" name="{{value.defaultLabel}}"
                        [disabled]="value.isDisabled" />
                    <input *ngIf="singleLanguage" id="languagePicker_{{value.code}}" type="checkbox" [(ngModel)]="value.isChecked" name="{{value.defaultLabel}}"
                        [disabled]="value.isDisabled" (ngModelChange)="singleSelection(value)" />
                    <label for="languagePicker_{{value.code}}">{{value.abbreviation}}</label>
                </span>
            </div>

        </div>
        <div class="row">
            <div class="clearfix form-actions">
                <button *ngIf="!singleLanguage" id="btnCheckAll" type="button" (click)="changeAll(true)" class="btn" name="btncheckall">
                    <i class="fa fa-check-square-o"></i> Check All</button>
                <button *ngIf="!singleLanguage" id="btnUncheckAll" type="button" (click)="changeAll(false)" class="btn " name="btnuncheckall">
                    <i class="fa fa-square-o"></i> Uncheck All</button>
                <button id="btnSelect" type="button" (click)="applySelection(op)" class="btn btn-primary " name="btnSelect">Select</button>
            </div>
        </div>
    </div>
</p-overlayPanel>