<div class="widget grid-wrapper table-responsive" *ngIf="request.id">

  <cdt-uploader [allowedExtensions]="allowedExtensions" [multiple]="true" [maxFiles]="100" [uploadedFiles]="getUploadedFiles()" (uploadedFilesChange)="onUploadedFilesChange($event)"></cdt-uploader>
  <div id="dropZone" class="grid-toolbar">
    <!-- the condition for disabling the uploader is that the number of documents has reached 100 -->
    <!-- <file-uploader max-length="80 " maxfiles="99 " array-list-uploaded="vm.uploadedFiles " file-type="source
    " accepted-formats="vm.sourceMaterialSupportedFormats "
          is-disabled="vm.request.sourceMaterials.length>= 100" callback="callback" uploaded-files="getFileNames()" drop-zone="dropZone"></file-uploader> -->
  </div>
  <div class="table-numdocs">
    <span ng-hide="request.id">N/A</span>
    <span ng-show="request.id">Total documents:
      <b>
        <!-- <span ng-bind="getNumberOfDocuments()"></span> -->
      </b>
    </span>
  </div>
  <div ng-if="request.sourceMaterials.length > 0">
    <table class="table table-striped requests-sources table-responsive">
      <thead>
        <tr>
          <th></th>
          <th>File(s)</th>
          <th>Uploaded by</th>
          <th>Private</th>
          <th>Output format</th>
          <th>Source language(s)</th>
          <th *ngIf="pricingPolicy2018Avalaible">Confidentiality</th>
          <th *ngIf="!pricingPolicy2018Avalaible">Confidential</th>
          <th *ngIf="!pricingPolicy2018Avalaible"></th>
        </tr>
      </thead>
      <tbody>
        <tr cdt-source-materials-list-item *ngFor="let sourceMaterial of request.sourceMaterials" [sourceMaterial]="sourceMaterial"
          [ngClass]="{true: 'row-temp-deleted', false: 'row-temp-undeleted'}[sourceMaterial.isScreenDeleted]">
      </tbody>
    </table>
  </div>
</div>