<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="hibernate-configuration-x-factories" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    <section name="Logging" type="NServiceBus.Config.Logging, NServiceBus.Core" />
    <section name="AuditConfig" type="NServiceBus.Config.AuditConfig, NServiceBus.Core" />
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error" />
  <AuditConfig QueueName="audit" />
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Assembly="CdT.EAI.Commands" Type="CdT.EAI.Commands.Mailing.SendEmail" Endpoint="CdT.EAI.BusService.Worker.Mailing@localhost" />
      <add Assembly="CdT.EAI.Commands" Type="CdT.EAI.Commands.FileSystem.StoreFile" Endpoint="CdT.EAI.BusService.Worker.FileSystem@localhost" />
      <add Assembly="CdT.EAI.Commands" Type="CdT.EAI.Commands.FileSystem.CloneFile" Endpoint="CdT.EAI.BusService.Worker.FileSystem@localhost" />
    </MessageEndpointMappings>
  </UnicastBusConfig>
  <Logging Threshold="Debug" />
  <!--<hibernate-configuration-x-factories xmlns="urn:nhibernate-configuration-2.2-x-factories">
    <session-factory name="ECDT">
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
      <property name="connection.connection_string">Data Source=.\sqlexpress;Initial Catalog=CDT;Integrated Security=True</property>
      <property name="show_sql">true</property>
      <property name="format_sql">true</property>
      <property name="use_sql_comments">true</property>
      <property name="use_proxy_validator">true</property>
      <property name="generate_statistics">true</property>
      <property name="adonet.batch_size">100</property>
      <property name="default_batch_fetch_size">100</property>
      <property name="query.substitutions">true 1, false 0, yes 'Y', no 'N'</property>
      <property name="adonet.wrap_result_sets">true</property>
      <property name="track_session_id">false</property>
    </session-factory>
  </hibernate-configuration-x-factories>-->
  <hibernate-configuration-x-factories xmlns="urn:nhibernate-configuration-2.2-x-factories">
        <session-factory name="ECDT">
            <property name="connection.driver_class">NHibernate.Driver.OracleManagedDataClientDriver</property>
            <property name="connection.provider">CdT.EAI.Dal.NH.Drivers.OdpManagedCaseInsensitiveConnection,CdT.EAI.Dal.NH</property>
            <property name="dialect">NHibernate.Dialect.Oracle10gDialect</property>
            <property name="connection.connection_string" >
                User ID=ecdt;Data Source=cdtt;password=helpdesk;Pooling=true;Enlist=true;Statement Cache Size=50;Min Pool Size=5;Max Pool Size=50;Incr Pool Size=5;Decr Pool Size=2;Validate Connection=true
            </property>
            <property name="show_sql">true</property>
            <property name="format_sql">true</property>
            <property name="use_sql_comments">true</property>
            <property name="use_proxy_validator">true</property>
            <property name="generate_statistics">true</property>
            <property name="adonet.batch_size">100</property>
            <property name="default_batch_fetch_size">0</property>
            <property name="query.substitutions">true 1, false 0, yes 'Y', no 'N'</property>
        </session-factory>
    </hibernate-configuration-x-factories>
  <system.transactions>
    <defaultSettings timeout="00:10:00" />
  </system.transactions>
  <enterpriseLibrary.ConfigurationSource selectedSource="File Configuration Source">
    <sources>
      <add name="File Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="entlib.config" />
    </sources>
  </enterpriseLibrary.ConfigurationSource>
  <!--<oracle.dataaccess.client>
    <settings>
      <add name="PerformanceCounters" value="4095"/>
      <add name="TraceFileName" value="c:\odpnet2.trc"/>
      <add name="TraceLevel" value="0"/>
      <add name="TraceOption" value="0"/>
    </settings>
  </oracle.dataaccess.client>-->
  <connectionStrings>
    <clear />
    <add name="OracleProviders" connectionString="DATA SOURCE=prd2b.COMMUNICATION1.NTLD;USER ID=net;password=prd2b;Min Pool Size=3;Max Pool Size=20;Incr Pool Size=5;Decr Pool Size=1;Validate Connection=true;Statement Cache Purge=true" providerName="Oracle.DataAccess.Client" />
    <add name="NServiceBus/Persistence" connectionString="enlist=false;Data Source=.\sqlexpress;Initial Catalog=cdt;Integrated Security=True" />
  </connectionStrings>
  <appSettings>
    <add key="owin:AutomaticAppStartup" value="false"></add>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="UploadFolder" value="c:\temp\ClientPortalWebUploadfolder" />
    <add key="DeliveryByDefault" value="DO" />
    <add key="ConfidentialDefault" value="N" />
    <add key="ContextualHelpFile" value="c:\devnet\ClientPortal\dev\development\Dependencies\Help\Help.xml" />
    <!-- used by EmailValidator -->
    <add key="EmailRegularExpression" value="^[\w\.\-\+']+@[a-zA-Z0-9\-]+(\.[a-zA-Z0-9\-]{1,})*(\.[a-zA-Z]{2,3}){1,2}$" />
    <!-- check -->
    <add key="tempFolder" value="c:\temp\ClientPortalWebTempfolder" />
    <add key="CssVersionNumber" value="1" />
    <add key="MinViewYear" value="2004" />
    <add key="DecimalLimitDate" value="1/1/2013 00:00:01" />
    <add key="MigratedAgencies" value="ALL" />
    <add key="ClientPortalEmailAddress" value="eCdT-d@Cdt.europa.eu" />
    <add key="ReplyToAddress" value="eCdT-d@cdt.europa.eu" />
    <add key="SMTPServer" value="smtp1.communication1.ntld" />
    <add key="SMTPPort" value="25" />
    <!-- ecdt -->
    <add key="WebApiHost" value="api" />
    <add key="WebApiBreeze" value="breeze" />
    <add key="ClientPortalAddress" value="https://localhost/clientportalweb" />
    <add key="WebApiExternal" value="https://localhost/clientportalweb/api/external/" />
    <add key="EnableNewFeaturesDate" value="01/01/2018" />
    <!--webapi -->
    <add key="ecdtTechnicalUserLogin" value="ecdt-d" />
    <add key="ecdtTechnicalUserPassword" value="ecdt-d" />
    <add key="FileManagementService" value="http://localhost/FileManagementService" />
    <add key="EnableDebug" value="true" />
    <add key="AnonymizerDefaultReplacementString" value="CDT" />
    <!-- serilog configuration-->
    <add key="serilog:minimum-level" value="Information" />
    <add key="serilog:minimum-level:override:NServiceBus" value="Information" />
    <add key="serilog:using:RollingFile" value="Serilog.Sinks.RollingFile" />
    <add key="serilog:write-to:RollingFile.pathFormat" value="c:\temp\clientportal\logs\portalwebapi{Date}_.txt" />
    <add key="serilog:enrich:with-property:Environment" value="Local" />
    <add key="serilog:enrich:with-property:Application" value="ClientPortalWeb" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
      <buildProviders>
        <!-- skin intellisense -->
        <add extension=".skin" type="System.Web.Compilation.PageBuildProvider" />
      </buildProviders>
    </compilation>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.-->
    <!-- error is managed in global.asax -->
    <globalization culture="en-gb" uiCulture="en-gb" requestEncoding="utf-8" responseEncoding="utf-8" />
    <customErrors mode="Off" redirectMode="ResponseRedirect" defaultRedirect="~/errors/error.aspx" />
    <!--<httpRuntime targetFramework="4.5" maxRequestLength="50000" enableVersionHeader="false" />-->
    <!-- Don't forget to change viewStateEncryptionMode for production -->
    <siteMap defaultProvider="XmlTopSiteMap" enabled="true">
      <providers>
        <clear />
        <add name="XmlTopSiteMap" description="SiteMap provider which reads in .sitemap XML files." type="System.Web.XmlSiteMapProvider" siteMapFile="ClientPortalTop.sitemap" securityTrimmingEnabled="true" />
        <add name="XmlUserSiteMap" description="SiteMap provider which reads in .sitemap XML files." type="System.Web.XmlSiteMapProvider" siteMapFile="ClientPortalUser.sitemap" securityTrimmingEnabled="true" />
      </providers>
    </siteMap>
    <httpHandlers>
      <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
    </httpHandlers>
    <httpModules>
      <!-- Don't forget to turn on  for production -->
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
      <add name="ContainerDisposal" type="Autofac.Integration.Web.ContainerDisposalModule, Autofac.Integration.Web" />
      <add name="AttributedInjection" type="Autofac.Integration.Web.Forms.AttributedInjectionModule, Autofac.Integration.Web" />
    </httpModules>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="None" />
    <identity impersonate="true" />

    <httpCookies httpOnlyCookies="true" requireSSL="true" />
    <sessionState mode="InProc" timeout="120" cookieName="ClientPortal_SessionId" />


    <!-- executon timeout set to 5 minutes, for radupload 60 Mo upload max -->
    <httpRuntime maxRequestLength="61440" executionTimeout="300" targetFramework="4.5" enableVersionHeader="false" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.2.0" newVersion="4.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate.Envers" publicKeyToken="e2c5b946037fb7f8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.3.0" newVersion="5.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Aspose.Words" publicKeyToken="716fcc553a201e56" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.1.0.0" newVersion="18.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Aspose.Cells" publicKeyToken="716fcc553a201e56" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.1.0.0" newVersion="18.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Aspose.Slides" publicKeyToken="716fcc553a201e56" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-17.12.1.0" newVersion="17.12.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Aspose.Pdf" publicKeyToken="716fcc553a201e56" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.1.0.0" newVersion="18.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.2.2.0" newVersion="6.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Aspose.Diagram" publicKeyToken="dfdba7ce0555ea8b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.1.0.0" newVersion="18.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CsvHelper" publicKeyToken="8c4959082be5c823" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <staticContent>
      <!-- remove the extension before insert to avoid duplicates errors-->
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff2" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <remove fileExtension=".eot" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
    </staticContent>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ClientPortalWeb_CssCombine_axd" verb="*" preCondition="integratedMode" path="ClientPortalWeb.CssCombine.axd" type="ClientPortalWeb.Utils.CssCombineHandler,ClientPortalWeb" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <!-- todo -->
    <!--<httpErrors errorMode="Custom" >
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" path="/errors/Error-404.html" responseMode="Redirect"  />
    </httpErrors>-->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="50000000" />
      </requestFiltering>
    </security>
  </system.webServer>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <services>
      <service name="ClientPortal.Service.JSONService" behaviorConfiguration="jsonServiceBehavior">
        <endpoint behaviorConfiguration="jsonBehavior" binding="webHttpBinding" bindingConfiguration="jsonBinding" contract="ClientPortalWeb.Service.IJSONService" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="FileManagement" receiveTimeout="00:10:00" sendTimeout="00:05:00" />
        <binding name="FinancialService" receiveTimeout="00:10:00" sendTimeout="00:05:00">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="CustomTcpBinding" receiveTimeout="00:04:30" sendTimeout="00:04:30" maxBufferSize="2147483647" maxConnections="100" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" />
          <security mode="None">
            <message clientCredentialType="None" />
          </security>
        </binding>
        <binding name="FileStreamBinding" receiveTimeout="00:04:30" sendTimeout="00:04:30" transferMode="Streamed" maxBufferSize="2147483647" maxConnections="100" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="1048576" maxArrayLength="1048576" maxBytesPerRead="1048576" maxNameTableCharCount="1048576" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
      <webHttpBinding>
        <binding name="jsonBinding" />
      </webHttpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://127.0.0.1:50000/CDT.ClientPortal.Services/Common/" behaviorConfiguration="ClientUserNameBehavior" binding="netTcpBinding" bindingConfiguration="CustomTcpBinding" contract="Cdt.ClientPortal.Services.IClientPortalCommonService" name="CommonEndpoint" />
      <endpoint address="net.tcp://127.0.0.1:50000/CDT.ClientPortal.Services/ClientPortal/" behaviorConfiguration="ClientUserNameBehavior" binding="netTcpBinding" bindingConfiguration="CustomTcpBinding" contract="Cdt.ClientPortal.Services.IClientPortalService" name="ClientPortalEndpoint" />
      <endpoint address="net.tcp://127.0.0.1:50000/Cdt.ClientPortal.Services/File/" behaviorConfiguration="ClientUserNameBehavior" binding="netTcpBinding" bindingConfiguration="FileStreamBinding" contract="Cdt.ClientPortal.Services.IClientPortalFileService" name="FileEndpoint" />
      <endpoint address="http://localhost/FileManagementService/FileManagement.svc" binding="basicHttpBinding" bindingConfiguration="FileManagement" contract="FileManagement.IFileManagement" name="FileManagement" />
      <endpoint address="http://econnectdev.communication1.ntld/eConnect/WCF/FinancialService.svc" binding="basicHttpBinding" bindingConfiguration="FinancialService" contract="FinancialService.IFinancialService" name="FinancialService" />
    </client>
    <extensions>
      <behaviorExtensions>
        <add name="clientPortalContext" type="Cdt.ClientPortal.Wcf.ClientPortalContextExtensionElement, Cdt.ClientPortal.Wcf, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ClientUserNameBehavior">
          <!--<clientCredentials>
            <clientCertificate findValue="ClientPortalWebTempCert" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />
          </clientCredentials>-->
          <dataContractSerializer maxItemsInObjectGraph="1000000" />
          <!--<clientPortalContext />-->
        </behavior>
        <behavior name="jsonBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="jsonServiceBehavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="16" />
    </connectionManagement>
  </system.net>
  <elmah>
    <!--
    See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
    more information on remote access and securing ELMAH.
    -->
    <security allowRemoteAccess="true" />
    <errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="c:\temp\clientportal\logs\elmah" />
  </elmah>
  <location path="admin/errorlogs.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="admin/errorlogs.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers>
      <!-- 
      See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
      more information on using ASP.NET authorization securing ELMAH.
      -->
      <authorization>
        <allow roles="portalmanager" />
        <deny users="*" />
      </authorization>
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="admin/errorlogs.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>
