<kendo-grid [data]="view | async" [pageSize]="state.take" [skip]="state.skip" [sort]="state.sort" [sortable]="{mode: 'multiple'}" [pageable]="false" [scrollable]="'none'" (dataStateChange)="dataStateChange($event)" (pageChange)="pageChange($event)" [filter]="state.filter"
    [filterable]="true" [reorderable]="true" [resizable]="true" [selectable]="true" [kendoGridSelectBy]="'id'" [selectedKeys]="mySelection" [group]="state.group" [groupable]="{ showFooter: true }">

    <ng-template kendoGridToolbarTemplate>
        <!-- <button kendoGridPDFCommand>
      <span class='k-icon k-i-file-pdf'></span>Export to PDF</button>
    <button type="button" kendoGridExcelCommand>
      <span class="k-icon k-i-file-excel"></span>Export to Excel</button> -->
      <select (change)="onPageSizeChange()" [(ngModel)]="state.take">
          <option *ngFor="let p of pageSizes" [ngValue]="p">{{p}}</option>
      </select>
    </ng-template>
    <kendo-grid-checkbox-column showSelectAll="true" width="5"></kendo-grid-checkbox-column>
    <kendo-grid-column title="Receipt date" field="receiptDate" width="190" filter="date" format="{0:dd/MM/yyyy HH:mm:ss}">
        <!-- <ng-template kendoGridCellTemplate let-request let-rowIndex="rowIndex">
      {{request.receiptDate | date: 'short'}}
    </ng-template> -->
    </kendo-grid-column>
    <kendo-grid-column field="client.abbreviation" title="Client" width="90">
        <ng-template kendoGridFilterCellTemplate>
            <app-dropdown-filter [filter]="state.filter" [data]="clients" textField="abbreviation" valueField="id" entityField="client.id">
            </app-dropdown-filter>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="requestIdentifier" title="Request ID" width="130"></kendo-grid-column>
    <kendo-grid-column title="Source Files" width="70">
        <ng-template kendoGridCellTemplate let-request let-rowIndex="rowIndex">
            {{request.sourceMaterials.length}}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="assignedTo" title="Marked by" width="130"></kendo-grid-column>
    <kendo-grid-column field="status.defaultLabel" title="Status" width="130">
        <ng-template kendoGridFilterCellTemplate>
            <app-multiselect-filter [filter]="state.filter" [data]="statuses" [(ngModel)]="value" textField="defaultLabel" valueField="code" entityField="status.code"></app-multiselect-filter>
        </ng-template>
        <ng-template kendoGridCellTemplate let-request>
            <span class="badge badge-warning">{{request.status.defaultLabel}}</span>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="Priority" width="130">
        <ng-template kendoGridCellTemplate let-request>
            <span class="badge badge-light status-{{request.priority.defaultLabel.toLowerCase().replace(' ', '-')}}">{{request.priority.defaultLabel}}</span>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column width="130">
        <ng-template kendoGridCellTemplate let-request>
            <a id="BtnGridEdit_{{request.requestIdentifier}}" class="btn btn-sm grid-edit-row btn-primary" routerLink="detail/{{request.id}}" data-title="Edit" bs-tooltip>
                <i class="fa fa-pencil fa-inverse"></i>
            </a>
        </ng-template>
    </kendo-grid-column>

    <ng-template kendoGridDetailTemplate let-request>
        <section>
            <p>
                <strong>Request title:</strong> {{request.title}} </p>
            <p>
                <strong>Purpose:</strong> {{request.purpose.defaultLabel}} |
                <strong>Reference documents : </strong>
                <span class="badge">{{request.referenceSet?.references.length}}</span>&nbsp;&nbsp;|&nbsp;&nbsp;
                <strong>Submission date : </strong>
                <span>{{request.submissionDate || 'Unknown' | date:'short'}}</span>&nbsp;&nbsp;|&nbsp;&nbsp;
                <strong>Client’s Contact(s) : </strong>
                <span>{{request.requestContacts | requestcontactsconcat}}</span>
            </p>
            <p>
                <strong>Current LTS member:</strong> {{request.ltsMember}}</p>
            <p>
                <strong>Pre-Processing deadline:</strong> {{request.preprocDeadline | date: 'short'}}</p>
            <div>
                <strong>Comment(s) : </strong>
                <span [innerHTML]="request.clientComment"></span>
            </div>
        </section>
    </ng-template>

    <!-- <kendo-grid-pdf fileName="Requests.pdf" [allPages]="false" paperSize="A4" [repeatHeaders]="true" [landscape]="true">
    <kendo-grid-pdf-margin top="2cm" left="1cm" right="1cm" bottom="2cm"></kendo-grid-pdf-margin>
    <ng-template kendoGridPDFTemplate let-pageNum="pageNum" let-totalPages="totalPages">
      <div class="page-template">
        <div class="header">
          <div style="float: right">Page {{ pageNum }} of {{ totalPages }}</div>
          Multi-page grid with automatic page breaking
        </div>
        <div class="footer">
          Page {{ pageNum }} of {{ totalPages }}
        </div>
      </div>
    </ng-template>
  </kendo-grid-pdf>

  <kendo-grid-excel fileName="Requests.xlsx"></kendo-grid-excel> -->

</kendo-grid>