<td>
  <!-- <extension-icon extension="sourceMaterial.material.documentFormat.code"></extension-icon> -->
  {{asPhysicalFile(sourceMaterial.material).documentFormat?.code}}
</td>
<td>
  {{sourceMaterial.material.fileName}}
  <!-- <download ng-if="canSetPrivacy(sourceMaterial)" material="sourceMaterial.material" />
  <a ng-if="!canSetPrivacy(sourceMaterial)" ng-click="denyDownload()">{{sourceMaterial.material.fileName}}</a>
  <validator model="sourceMaterial.material" validate-property="fileName"></validator> -->
</td>
<td>{{sourceMaterial.uploadedBy}}</td>
<td>
  <input name="isPrivate" type="checkbox" class="ios-switch" [ngModel]="sourceMaterial.isPrivate" [disabled]="sourceMaterial.isScreenDeleted || !canSetPrivacy(sourceMaterial)"
  />
  <span class="switch"></span>
  <i class="fa fa-info-circle fa-lg ng-scope" bs-tooltip="" data-title="A document marked as private and all related outcomes are accessible only by the person that has uploaded the document"></i>
</td>
<td class="text-nowrap">
  <p-dropdown #outputFormatList [options]="targetFormats" [ngModel]="sourceMaterial.deliverableDocumentFormat" (onChange)="onOutputFormat($event)"
    optionLabel="defaultLabel" dataKey="id" placeholder="Choose a document format"></p-dropdown>
  <cdt-validator [entity]="sourceMaterial" [propName]="'deliverableDocumentFormat'"></cdt-validator>
</td>
<td class="text-nowrap">
  <span *ngIf="sourceMaterial.selectedLanguages.length === 0" class="text-error">
    <span class="control-mandatory help-inline ">
      <i class="fa fa-asterisk"></i>
    </span>
  </span>
  <!-- <a class="language-picker-call singleline-ellipsis" bs-tooltip data-title="{{sourceMaterial.selectedLanguages | splitArrayToString:'defaultLabel'}}">{{sourceMaterial.selectedSourceLanguages | splitArrayToString:'abbreviation'}}</a> -->
  <!-- <language-picker model="sourceMaterial.selectedLanguages" icon="'icon'" id="LanguagePicker{{$index}}" ng-show="!(vm.request.status.code==='MTS' && !hasRightToSend() && vm.improvementsAvalaible)" -->
  <cdt-multiselect [data]="languages" [textField]="'code'" [valueField]="'id'" [model]="sourceMaterial.selectedLanguages" (modelChange)="onSelectedLanguagesChanged($event)"></cdt-multiselect>
</td>
<td>
  <cdt-source-material-confidentiality [sourceMaterial]="sourceMaterial"></cdt-source-material-confidentiality>
</td>
<td>
  <a id="{{ 'btnDelete-' + $index }}" class="btn grid-button grid-edit-row btn-danger" *ngIf="!sourceMaterial.isScreenDeleted"
    (click)="toggleDelete(sourceMaterial)">
    <i class="fa fa-trash-o"></i>
  </a>
  <a class="btn grid-button grid-edit-row btn-primary" *ngIf="sourceMaterial.isScreenDeleted" (click)="toggleDelete(sourceMaterial)">
    <i class="fa fa-refresh"></i>
  </a>
  <a class="btn grid-button grid-edit-row btn-primary" id="SrcCopyDown" *ngIf="showCopyDown" (click)="onBatchUpdate()">
    <i class="fa fa-arrow-down"></i>
  </a>
</td>