<h2>Your profile</h2>
<div class="form-group">
    <label for="userName">username:</label><label>{{authService.userInformation.userName}}</label>
</div>
<div class="form-group">
    <label for="userName">first name:</label><label>{{authService.userInformation.firstName}}</label>
</div>
<div class="form-group">
    <label for="userName">last name:</label><label>{{authService.userInformation.lastName}}</label>
</div>
<div class="form-group">
    <label for="userName">phone number:</label><label>{{authService.userInformation.phoneNumber}}</label>
</div>